
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    background-color:  #dedede;
  }
  
  .formulario{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card{
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .actions{
    display: flex;
    gap: 2em;
  }
  
  .texts{
    margin: 0;
  }
  
  .actions button{
    padding: 10px;
    background-color: #6c63ff;
    color: white;
    border: transparent;
    border-radius: 8px;
    cursor: pointer;
  
  }
  
  .actions button:hover{
    background-color: #8683b0;
  }
  
  .actions input {
    border-radius: 5px;
    border: 1px solid #8683b0;
  }
  
  .actions input:focus{
    outline: none;
    border: 3px solid #6c63ff;
  }