<div class="container">

  <div class="formulario">
    <div>
      <img src="../assets/undraw_best_place_re_lne9.svg" alt="imagem">
    </div>
    <div class="card">
      <div>
        <h1>Buscar CEP</h1>
      </div>
      <div class="actions">
        <input [(ngModel)]="cep" type="text">
        <button (click)="pesquisarcep()">Pesquisar</button>
      </div>
      <div class="texts">

        <h3>Cidade: {{cepData.localidade }}</h3>
        <h3>Estado: {{cepData.uf }}</h3>
        <h3>Bairro: {{cepData.bairro }}</h3>
        <h3>Rua: {{cepData.logradouro }}</h3>
      </div>
    </div>
  </div>
</div>